* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.bg-screen {
    background-image: url("img/ryan-kim-Js0NzCr_HRU-unsplash.jpg");
    background-size: cover;
    min-width: 40%;
    flex-shrink: 1;
}

.sidebar {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    position: relative;
    text-align: center;
    top: 8rem;
    padding: 18px;
    
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    justify-content: center;
    /* align-items: center; */
    background-color: #38393b;
    padding: 24px;
}

.description {
    text-align: left;
    
}
.form-elements {
    background-color: white;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.209);
}
.form-section {


}

.grid {

    display: grid;
    grid-template-columns: auto auto;
}

button {
    margin: 16px 0px;
}