* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */

}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.bg-screen {
    background-image: url("img/ryan-kim-Js0NzCr_HRU-unsplash.jpg");
    background-size: cover;
    width: 40vh;
}

.sidebar {
    position: relative;
    /* width: 40%; */
    text-align: center;
    text-align: center;
    top: 8rem;
    background-color: red;
}

.formie {
    display: flex;
    border: 1px solid green;
    justify-content: center;
    align-items: center;
    text-align: center;
}